.landing-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 600px;
    margin-top: -6px;
}

.landing-content {
    border-radius: 3px;
    border: 2px solid white;
    color:white;
    font-size: 20px;
    width:50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selfie-div{
    width: 40%;
    border-radius: 10px;
}

.avatar{
    width:30%;
    height: 400px;
    padding-top: 60px;
}

.skills-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill{
    margin-left: 3px;
}

.links {
    margin-top: 20px;
}

.linkedin-icon {
    width:72px;
    margin: 0px 15px;
}

.github-logo {
    width:60px;
    
}