.nav-container {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100vw;
    position: fixed;
    border:1px solid black;
    z-index: 1000;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
}

.link{
    color: white;
    text-decoration: none;
    margin: 0px 15px;
}

/* ///////Mobile //////////// */

@media (max-width: 400px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
    }
}