
.project-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
   
}

.projects-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
}

.card {
    width:100%;
}

.projects-button{
    width:360px;
    height: 80px;
    align-self: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: #2193b0;
    cursor: pointer;
    color: wheat;
    font-weight: 700;
    margin: 60px;
}