
.project-container {
    height: 100%;
    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-one {
    margin: 20px;
    
}