
.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.stats-content{
    display: flex;

}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.learning-container {
    margin: 0px 0px 0px 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:150%;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 5px 0px;
    width: 60%;
}

.mobile {
    display: none;
}

li{
    margin: 5px 0px;
}


/* /////// Mobile view /////// */

@media (max-width: 892px) {

    .stats-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desktop{
        display: none;
    }

    .mobile {
        display: block;
    }

    .learning-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width:50%;
    }


}